.photo-grid__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

@media screen and (max-width: 1279px) {
  .photo-grid__list {
    -ms-grid-columns: 1fr 14px 1fr 14px 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid__list {
    -ms-grid-columns: 1fr 16px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid__list {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    gap: 16px;
  }
}
