.cover {
  max-width: calc(100% - 96px);
  min-height: 740px;
  position: relative;
  background-image: url(../../images/cover__background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1279px) {
  .cover {
    max-width: 100%;
    min-height: calc(100vw*0.625);
  }
}
